/* ---------------------- useful global settings  ----------------------  */
html, body{
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.flexer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}


/*  ---------------------- fonts ----------------------  */
@font-face{
  font-family: "uBold";
  src: url("./fonts/Ubuntu-Bold.ttf");
}
@font-face{
  font-family: "uItalic";
  src: url("./fonts/Ubuntu-Italic.ttf");
}
@font-face{
  font-family: "uBoldItalic";
  src: url("./fonts/Ubuntu-BoldItalic.ttf");
}
@font-face{
  font-family: "uLight";
  src: url("./fonts/Ubuntu-Light.ttf");
}
@font-face{
  font-family: "uLightItalic";
  src: url("./fonts/Ubuntu-LightItalic.ttf");
}
@font-face{
  font-family: "uMedium";
  src: url("./fonts/Ubuntu-Medium.ttf");
}
@font-face{
  font-family: "uMediumItalic";
  src: url("./fonts/Ubuntu-MediumItalic.ttf");
}
@font-face{
  font-family: "uRegular";
  src: url("./fonts/Ubuntu-Regular.ttf");
}



/* ---------------------- from tutorial ---------------------- */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar{
  height: 100%;
  width: 300px;
  background-color: black;
}

.navbar-nav{
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
}

.dropdownBox{
  left: 0px;
  top: 0px;
  transform: translate3d(300px, 0, 0px);
  height: 100%;
  width: 450px;
  background-color: green;
}

.dropdown{
  height: 50%;
  width: 50%;
  top: 0;
  background-color: grey; 
  justify-content: space-evenly;
}

.flip{
  top: 50%;
}
/* ---------------------- main menu styles ---------------------- */


.mainTab{
  z-index: 1;
  width: 300px;
  height: 100%;
  background-color: #000;
}

.mainList{
  width: 100%;
  height: 100%;
}

.mainButton{
  z-index: 1;
  width: 150px;
  height: 75px;
  justify-content: center;
  background-color: blue;
  cursor: pointer;
  font-family: uBold;
  font-size: x-large;
  transition: font-size 0.1s linear;
  position: relative;
}

.mainButton:hover{
  font-size: xx-large;
  transition: font-size 0.1s linear;
  color: #fff;
}

.cookCover{
  z-index: 1;
  left: 300px;
  width: 450px;
  height: 50%;
  top: 50%;
  background-color: #525050;
}
/* ---------------------- sub menu styles ---------------------- */
.subTab{
  z-index: 0;
  left: 300px;
  width: 450px;
  height: 50%;
}

.cookTab{
  background-color: #525050;
}

.manageTab{
  top: 50%;
  background-color: #858282;
}

.accTab{
  left: 750px;
  height: 100%;
  background-color: #9c9898;
}

.subButton{
  width: 400px;
  height: 75px;
  justify-content: center;
  background-color: red;
  cursor: pointer;
  font-family: uBold;
  font-size: xx-large;
  transition: font-size 0.15s linear;
  position: relative;
}

.subButton:hover{
  font-size: xxx-large;
  transition: font-size 0.15s linear;
}

.cook{
  background-color: red;
}

.manage{
  background-color: green;
}

.acc{
  background-color: orange;
}

