
/*----------------------  global styles  ----------------------*/
html, body{
  margin: 0 auto;
  background-color: #484e5e ;
}

.flexer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  border-radius: 2px;
}

.quietLink{
  text-decoration: none;
}

/*----------------------  fonts  ----------------------*/
@font-face{
  font-family: "uBold";
  src: url("./fonts/Ubuntu-Bold.ttf");
}
@font-face{
  font-family: "uItalic";
  src: url("./fonts/Ubuntu-Italic.ttf");
}
@font-face{
  font-family: "uBoldItalic";
  src: url("./fonts/Ubuntu-BoldItalic.ttf");
}
@font-face{
  font-family: "uLight";
  src: url("./fonts/Ubuntu-Light.ttf");
}
@font-face{
  font-family: "uLightItalic";
  src: url("./fonts/Ubuntu-LightItalic.ttf");
}
@font-face{
  font-family: "uMedium";
  src: url("./fonts/Ubuntu-Medium.ttf");
}
@font-face{
  font-family: "uMediumItalic";
  src: url("./fonts/Ubuntu-MediumItalic.ttf");
}
@font-face{
  font-family: "uRegular";
  src: url("./fonts/Ubuntu-Regular.ttf");
}

/*----------------------  home page styles  ----------------------*/
.homeBarBox{
  height: 100%;
  width: 300px;
  background-color: black;
}

.homeBarList{
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
}

.homeMenuBox{
  left: 0px;
  top: 0px;
  transform: translate3d(300px, 0, 0px);
  height: 100%;
  width: 450px;
  background-color: green;
}

.homeMenuList{
  height: 50%;
  width: 50%;
  top: 0;
  background-color: grey; 
  justify-content: space-evenly;
}

.homeMainButton{
  z-index: 1;
  width: 150px;
  height: 75px;
  justify-content: center;
  background-color: blue;
  cursor: pointer;
  font-family: uBold;
  font-size: x-large;
  transition: font-size 0.1s linear;
  position: relative;
}

.homeMainButton:hover{
  font-size: xx-large;
  transition: font-size 0.1s linear;
  color: #fff;
}

.homeSubButton{
  width: 400px;
  height: 75px;
  justify-content: center;
  background-color: red;
  cursor: pointer;
  font-family: uBold;
  font-size: xx-large;
  transition: font-size 0.15s linear;
  position: relative;
}

.homeSubButton:hover{
  font-size: xxx-large;
  transition: font-size 0.15s linear;
}

/*----------------------  library page styles  ----------------------*/
.libraryTitle{
  width: 100%;
  height: 50px;
  top: 80px;
  z-index: 2;
  /*background-color: grey;*/
  color: white;
  position: fixed;
  font-family: uBoldItalic;
  font-size: xx-large;
}

.libBarBox{
  z-index: 1;
  height: 150px;
  width: 100%;
  background-color: #121212;
  top: 0px;
}

.libBarList{
  z-index: 1;
  height: inherit;
  width: 100%;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
}

.libMainButton{
  z-index: 1;
  bottom: 30px;
  width: 250px;
  height: 60px;
  justify-content: center;
  background-color: #1d7c91;
  cursor: pointer;
  font-family: uBold;
  font-size: x-large;
  transition: font-size 0.1s linear;
  position: relative;
}

.libMainButton:hover{
  font-size: xx-large;
  transition: font-size 0.1s linear;
}

.libSubButton{
  height: 30px;
  background-color: grey;
  cursor: pointer;
  justify-content: center;
  font-family: uItalic;
  font-size: large;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0 0 3px grey;
  transition: box-shadow 0.05s linear;
  margin-bottom: 10px;
}

.libSubButton:hover{
  color: white;
  /*box-shadow: 0 0 0 8px grey;*/
  transition: box-shadow 0.05s linear;
}

.recipePreviewsContainer{
  z-index: 0;
  width: 100%;
  height: 200px;
  top: 150px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
}

.recipePreview{
  width: 150px;
  height: 100px;
  outline: black;
  outline-width: 4px;
  outline-style: solid;
  position: relative;
  background-color: #89a9ab;
  margin: 2px 1px 1px 1px ;
  justify-content: space-between;
}

.recipePreview:hover{
  background-color: #1d7c91;
}

.recipePreviewTitle{
  font-family: uBold;
  font-size: medium;
  cursor: default;
  display: flex;
  justify-content: center;
  /*padding: 0px 10px 0px 10px;*/
}

.recipePreviewTitleBackground{
  width: inherit;
  height: 40px;
  display: block;
  position: relative;
  background-color: white;
}